{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@images/*": "public/assets/images/*",
          "@components/*": "components/*",
          "@pages/*": "pages/*",
          "@utils/*": "utils/*"
        }
      }
    ]
  ]
}
